* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 100%;
  text-align: center;
  margin: auto;
  overflow: hidden;
  background-color: #fd5842;
  height: 100vh;
}
h1 {
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 54px;
}
h2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.miniContainer {
  width: 90%;
  margin: auto;
  height: 80vh;
  border: 1px solid #171932;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-image: url(https://s3-alpha-sig.figma.com/img/1c7b/5da8/d3053200b6c3ee5668cfa4aa3872bf92?Expires=1582502400&Signature=W0FxcS7BJM3rg6nsr9FPvDmGmZKHZhsp2GfDr-VbPDKON5uBaHttZggy-WSsgoLMV8YVduTtjLpf-QHCs~5QmSA4mIn7sgM-mmUFT9PcFjUvsxdMm5YIa-ol2jswwhMHhDfm4C8vsv2kF2igMc6r-oWNp-MQhgZdyO0S53LaKJTvPIspwlQR5cAsSkTfiuFvzEuwmM-HmjFwG73dnJI5XJHZLYs9DR7DugmXDL38vFqEbRUvxbotl5TALEXy7p-hBuNXoUqvkNbMohXIDhqt7eTao8r3~MTYu47S-VXrrCXNOJUrbLbW8CfLrvWrKMTR2bolVAstNjhhTj9AHbL4KQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
}

.middleImage {
  height: 350px;
  width: 277px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2oVBnPSIKR4u7KvT1YrLThVuFMcHTux2OnTeIhmhuNX6JvGdy);
}
.card {
  background: rgba(23, 25, 50, 0.6);
  box-shadow: 0px 4px 14px rgba(23, 25, 50, 0.5);
  border-radius: 10px;
  width: 372px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 108px;
  height: 378px;
  font-size: 16px;
  line-height: 19px;
}
.list {
  overflow: auto;
}

.grid-3 {
  display: grid;
  grid-template-columns: auto 277px auto;
}

.postItem {
  height: 66px;
  border-bottom: 1px solid white;
}

.row {
  margin-left: 18px;
  text-align: left;
  font-size: 16px;
  padding-top: 23px;
}
.row-sm {
  margin-left: 18px;
  text-align: left;
  font-size: 8px;
  padding-top: 23px;
}

.icons * {
  margin-right: 10px;
}

/* forms */

input {
  margin: 16px 0;
}

input[type='text'] {
  display: block;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  font-size: 1.2rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.bodyInput {
  display: block;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  font-size: 1.2rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  height: 151px !important;
}
input::placeholder {
  padding: 4px;
}
textarea::placeholder {
  padding: 4px;
}
textarea {
  margin-bottom: 15px;
}
.btn {
  display: inline-block;
  background: var(--light-color);
  padding-top: 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
}
